<h1>Crear Comentario</h1>
<form class="comment vertical" (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-form-field class="comment__field" appearance="fill">
        <mat-label>Enter your score</mat-label>
        <!--
          TODO: usar validadores min max o interceptar el evento change para impedir
          que se puedan introducir valores invalidos
        -->
        <input matInput type="number" name="score" [(ngModel)]="model.score" #name="ngModel" required>
        <mat-error *ngIf="name.invalid">
          {{errorsService.get(name, errors.name)}}
        </mat-error>
    </mat-form-field>



</form>
