.header {
  background-color: var(--ps-color-primary);
  color: var(--ps-color-on-primary);
  align-items: center;
}

.header__title{
  align-items: center;
  flex: 1;
  justify-content: center;
}



