.pizza-header__toolbar{
  justify-content: space-between;
  background-color: var(--ps-color-primary);
  color: var(--ps-color-on-primary);

}
button{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
  border-radius: 5%;
}

