<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{comment.created | date:'dd/MM/yyyy'}}
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon *ngFor="let color of getStars(comment.score)" class="icon--{{color}}">
        <ng-container *ngIf="color==='dark'; else light">
          star
        </ng-container>
        <ng-template #light>
          star_border
        </ng-template>
      </mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{comment.text}}</p>
</mat-expansion-panel>



<!--"`icon--${color}`"
    icon--{{color}}
    <p *ngIf="color='black'; else white">star</p>
    <ng-template #white><p>stars</p></ng-template>

    {{color}}==='black'?star:star_border


    <p *ngIf="color==='black'; else white">star</p>
    <ng-template #white><p>star_border</p></ng-template>

-->
