:host {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  width: 20%;
  border: 1px solid var(--ps-color-primary);
  border-radius: 3%;
  padding: var(--ps-padding-medium);
}

.register__field {
  margin-bottom: 1rem;
}

.register__alert {
  padding: var(--ps-padding-medium);
  background-color: var(--ps-color-error);
  color: var(--ps-color-on-primary);
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--ps-margin-medium);
}

.register__alert__icon {
  font-size: var(--ps-font-small);
}
