<p>
    <mat-toolbar  color = "primary" >
        <mat-toolbar-row > 
            <span> {{title}} </span > 
            <span  class = "example-spacer" > </span > 
            <button  mat-icon-button  (click)="goRegister()" class = "btn-register-icon favorite-icon"  aria-label = "Botón de icono login" > 
                <icono-mat > how_to_reg </icono-mat > 
            </botón > 
            <button  mat-icon-button  (click)="goLogin()" class = "btn-login-icon" aria-label = "Botón de icono de registro" > 
                <icono-mat > login </icono-mat > 
            </button > 
        </mat-toolbar-row > 
  </mat-toolbar > 






</p>